@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Barlow:wght@600&family=DM+Sans:wght@400;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;600;700&family=Nunito+Sans:wght@300;600;800&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&family=Space+Grotesk:wght@500&display=swap');

// imports
@import './base/reset';
@import './utilities/variables';
@import './utilities/functions';
@import './pages/details-page';
@import './pages/homepage';
@import './themes/light-theme';
// styles
body {
  background-color: $VeryDarkBlue-bg;
  color: $White;
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Fraunces', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  transition: background-color 0.5s ease;
}
body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: $White;
}

.loader {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
  }
}

main {
  position: relative;
  width: 100vw;
  section {
    position: absolute;
    width: 100%;
  }
}
header,
.input-container p,
.filter,
.country-details-container,
.back,
.options,
.details-page__border-countries li {
  box-shadow: 0px 5px 10px 1px #00000044;
}
input {
  box-shadow: 5px 5px 10px 1px #00000044;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: $DarkBlue;

  h1 {
    font-size: 1.2rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(13px);

    img {
      width: 0.8rem;
      margin-right: 0.35rem;
    }
  }
}
.invert {
  filter: invert(100%);
}
input::placeholder {
  color: inherit;
  font-size: 0.85rem;
}
.input-container {
  display: flex;

  p {
    margin-top: 1rem;
    width: 6rem;
    background-color: $DarkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 1.5rem;
    }
  }
}
.underline {
  text-decoration: 3px underline red;
}

.z-index--1 {
  z-index: -1;
}
.z-index-3 {
  z-index: 3;
}

.input-container img,
.filter img,
button img {
  filter: invert(100%);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

span {
  color: $ReducedWhite;
  font-weight: 300;
}

.details-page__primary-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h2 {
  font-weight: 600;
}
h3 {
  font-size: 0.9rem;
  font-weight: 300;
}

.translate-right {
  transform: translateX(200%);
  transition: transform 0.4s ease;
}
.translate-left {
  transform: translateX(0%);
  transition: transform 0.4s ease;
}
.hidden {
  display: none !important;
}
@media screen and (min-width: toRem(600px)) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .country-details-container,
  .details-page__border-countries p,
  .filter p,
  .back {
    cursor: pointer;
  }
  section:nth-child(1) {
    article:nth-child(2) {
      .country-container {
        gap: 2rem;

        .country-details-container {
          grid-column: span 6;
          margin: 0;
          &:hover {
            transform: translateY(-1rem);
            transition: transform 0.5s ease;
          }
        }
      }
    }
  }
  section:nth-child(2) {
    article {
      grid-template-columns: repeat(12, 1fr);

      .button__container {
        grid-column: 1 / span 6;
      }
      .details-img__container {
        grid-column: 1 / span 6;
      }

      .details__content-container {
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 2rem;
        div:nth-child(1) {
          grid-column: 1 / span 4;

          .details-page--country-name {
            font-weight: 800;
            font-size: 1.7rem;
          }
        }
        div:nth-child(2) {
          grid-column: 5 / span 3;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        div:nth-child(3) {
          grid-column: span 12;
          flex-direction: row;
        }
      }
    }
  }
}
@media screen and (min-width: toRem(900px)) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .input-container {
    p {
      img {
        width: 1rem;
      }
    }
  }

  header {
    max-width: 100%;
  }
  main {
    section {
      display: grid;
    }
    .homepage {
      article:nth-child(1) {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: 1rem auto 2rem auto;
        align-items: center;
        input {
          width: 21rem;
        }
        div {
          width: fit-content;
        }
      }
    }
    section:nth-child(1) {
      article:nth-child(2) {
        .country-container {
          width: 90%;
          margin: 0 auto;
          gap: 4rem;

          .country-details-container {
            grid-column: span 3;
          }
        }
      }
    }

    section:nth-child(2) {
      article {
        grid-template-columns: repeat(12, 1fr);

        .button__container {
          grid-column: 1 / span 6;
        }
        .details-img__container {
          grid-column: 1 / span 6;
        }

        .details__content-container {
          grid-column: span 6;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          row-gap: 2rem;
          div:nth-child(1) {
            grid-column: 1 / span 4;

            .details-page--country-name {
              font-weight: 800;
              font-size: 1.7rem;
            }
          }
          div:nth-child(2) {
            grid-column: 5 / span 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          div:nth-child(3) {
            grid-column: span 12;
            flex-direction: row;
          }
        }
      }
    }
  }
}

.opacity-0 {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.theme-switcher {
  cursor: pointer;
  p:nth-child(1) {
    position: relative;
    width: 1rem;
    height: 0.8125rem;
    img {
      position: absolute;
      top: 0;
    }
  }
}
