@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Barlow:wght@600&family=DM+Sans:wght@400;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;600;700&family=Nunito+Sans:wght@300;600;800&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&family=Space+Grotesk:wght@500&display=swap');

/* RESETS*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

button {
  padding: 0px;
}
// imports
@import 'variables';
@import 'functions';

// styles
body {
  background-color: $VeryDarkBlue-bg;
  color: $White;
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Fraunces', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  transition: background-color 0.5s ease;
}
body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: $White;
}

.loader {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
  }
}

main {
  position: relative;
  width: 100vw;
  section {
    position: absolute;
    width: 100%;
  }
}
header,
.input-container p,
.filter,
.country-details-container,
.back,
.options,
.details-page__border-countries li {
  box-shadow: 0px 5px 10px 1px #00000044;
}
input {
  box-shadow: 5px 5px 10px 1px #00000044;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: $DarkBlue;

  h1 {
    font-size: 1.2rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(13px);

    img {
      width: 0.8rem;
      margin-right: 0.35rem;
    }
  }
}
.invert {
  filter: invert(100%);
}
input::placeholder {
  color: inherit;
  font-size: 0.85rem;
}
.input-container {
  display: flex;

  p {
    margin-top: 1rem;
    width: 6rem;
    background-color: $DarkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 1.5rem;
    }
  }
}
.homepage {
  article:nth-child(2) {
    .country-container {
      .country-details-container {
        display: grid;
        grid-template-rows: 45% 55%;
        height: 20rem;
        width: 100%;
        max-width: 100%;
        img {
          height: 100%;
          width: 100%;
          max-width: 100%;
        }
        div {
          padding: 1rem 0 1rem 1rem;
        }
      }
    }
  }
}

.homepage {
  article:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    justify-items: center;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: 1.8rem;

    input,
    > div {
      width: 90%;
    }

    input {
      margin-top: 1rem;
      background-color: $DarkBlue;
      outline: none;
      border: none;
      padding: 0.5rem;
    }

    .filter {
      position: relative;
      width: 13rem;
      background-color: $DarkBlue;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      > p:nth-child(1) {
        display: flex;
        justify-content: space-between;
        img {
          width: 0.8rem;
        }
      }

      .options {
        left: 0;
        position: absolute;
        width: 13rem;
        background-color: $DarkBlue;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        top: calc(100% + 0.3rem);
      }
    }
  }
  .rotate-up {
    transform: rotate(180deg);
    transition: 0.5s ease;
  }
  .rotate-down {
    transform: rotate(0deg);
    transition: 0.5s ease;
  }
  article:nth-child(2) {
    display: flex;
    flex-direction: column;
    .error-message {
      display: flex;
    }
    > div {
      width: 70%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(12, 1fr);
      margin: 1.8rem auto;
      border-radius: 5px;

      > div {
        grid-column: span 12;

        > div {
          padding: 1.2rem 1.1rem 2.3rem 1rem;
        }

        img {
          border-radius: 5px;
        }
      }

      .country-name {
        margin-bottom: 0.5rem;
      }

      p {
        text-transform: capitalize;
      }

      .country-details-container {
        margin: 1.5rem 0;
        img {
          width: 100%;
        }
      }
    }
  }
}
.z-index--1 {
  z-index: -1;
}
.z-index-3 {
  z-index: 3;
}
.details-page {
  width: 100%;
  overflow-x: hidden;

  > article {
    width: 100%;
    display: grid;
    row-gap: 2rem;
    font-size: toRem(14px);
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: $VeryDarkBlue-bg;

    .button__container,
    .details-img__container,
    .details__content-container {
      width: 85%;
      margin: 0 auto;
    }

    .button__container {
      grid-column: span 12;

      button {
        background-color: $DarkBlue;
        border: none;
        width: fit-content;
        padding: 0.2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        gap: 0.4rem;
        margin-top: 2rem;
        img {
          width: 0.8rem;
        }
      }
    }

    .details-img__container {
      grid-column: span 12;
      img {
        width: 100%;
        margin: 0 auto;
      }
    }

    .details__content-container {
      grid-column: span 12;
    }
  }
}

.input-container img,
.filter img,
button img {
  filter: invert(100%);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details__content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details-page__border-countries {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    li {
      width: fit-content;
      background-color: $DarkBlue;
      border: none;
      width: 100%;
      padding: 0.2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      text-transform: capitalize;
    }
  }
}

span {
  color: $ReducedWhite;
  font-weight: 300;
}

.details-page__primary-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h2 {
  font-weight: 600;
}
h3 {
  font-size: 0.9rem;
  font-weight: 300;
}

.translate-right {
  transform: translateX(200%);
  transition: transform 0.4s ease;
}
.translate-left {
  transform: translateX(0%);
  transition: transform 0.4s ease;
}
.hidden {
  display: none !important;
}
@media screen and (min-width: toRem(600px)) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .country-details-container,
  .details-page__border-countries p,
  .filter p,
  .back {
    cursor: pointer;
  }
  section:nth-child(1) {
    article:nth-child(2) {
      .country-container {
        gap: 2rem;

        .country-details-container {
          grid-column: span 6;
          margin: 0;
          &:hover {
            transform: translateY(-1rem);
            transition: transform 0.5s ease;
          }
        }
      }
    }
  }
  section:nth-child(2) {
    article {
      grid-template-columns: repeat(12, 1fr);

      .button__container {
        grid-column: 1 / span 6;
      }
      .details-img__container {
        grid-column: 1 / span 6;
      }

      .details__content-container {
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 2rem;
        div:nth-child(1) {
          grid-column: 1 / span 4;

          .details-page--country-name {
            font-weight: 800;
            font-size: 1.7rem;
          }
        }
        div:nth-child(2) {
          grid-column: 5 / span 3;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        div:nth-child(3) {
          grid-column: span 12;
          flex-direction: row;
        }
      }
    }
  }
}
@media screen and (min-width: toRem(900px)) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .input-container {
    p {
      img {
        width: 1rem;
      }
    }
  }

  header {
    max-width: 100%;
  }
  main {
    section {
      display: grid;
    }
    .homepage {
      article:nth-child(1) {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: 1rem auto 2rem auto;
        align-items: center;
        input {
          width: 21rem;
        }
        div {
          width: fit-content;
        }
      }
    }
    section:nth-child(1) {
      article:nth-child(2) {
        .country-container {
          width: 90%;
          margin: 0 auto;
          gap: 4rem;

          .country-details-container {
            grid-column: span 3;
          }
        }
      }
    }

    section:nth-child(2) {
      article {
        grid-template-columns: repeat(12, 1fr);

        .button__container {
          grid-column: 1 / span 6;
        }
        .details-img__container {
          grid-column: 1 / span 6;
        }

        .details__content-container {
          grid-column: span 6;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          row-gap: 2rem;
          div:nth-child(1) {
            grid-column: 1 / span 4;

            .details-page--country-name {
              font-weight: 800;
              font-size: 1.7rem;
            }
          }
          div:nth-child(2) {
            grid-column: 5 / span 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          div:nth-child(3) {
            grid-column: span 12;
            flex-direction: row;
          }
        }
      }
    }
  }
}

// Light Theme

.light {
  body,
  .details-page,
  .details-page article,
  .homepage article:nth-child(1) .filter .options {
    background-color: $VeryLightGray;
    color: $VeryDarkBlue;
    transition: background-color 0.5s ease;
  }
  body::-webkit-scrollbar-thumb {
    background-color: $DarkBlue;
  }

  .country-details-container,
  header,
  input,
  .details-page > article .button__container button,
  .homepage article:nth-child(1) .filter,
  .homepage article:nth-child(1) input,
  .input-container p,
  .details-page__border-countries ul li {
    background-color: $White;
    transition: background-color 0.5s ease;
  }
  span {
    color: rgba(0, 0, 0, 0.714);
  }

  .input-container img,
  .filter img,
  button img {
    filter: invert(0);
  }
}
.char {
  transform: translateY(115px);
  transition: transform 0.5s ease;
}
.details-page--country-name {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.opacity-0 {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.theme-switcher {
  cursor: pointer;
  p:nth-child(1) {
    position: relative;
    width: 1rem;
    height: 0.8125rem;
    img {
      position: absolute;
      top: 0;
    }
  }
}
